<mat-card class="ferilizer-card-preview">
    <div matTooltip={{composition}} matTooltipPosition="before">Имя: {{fertilizer.name | uppercase}}</div>
    <div *ngIf="fertilizer.vendor">Производитель: {{fertilizer.vendor}} </div>
    <mat-form-field>
        <input matInput placeholder="Концетрация" min="0" type="number" [(ngModel)]="fertilizer.amount" (ngModelChange)=onAmountChange($event)>
    </mat-form-field>
    <div class="requred-amount">Нужное кол-во: {{fertilizer.requiredAmount | number:'1.0-3'}}г</div>
</mat-card>
