<app-select (onSelectOut)="onListSelect($event)" [model]='lists'></app-select>

<app-ferilizer-detail-panel *ngFor="let ferilizer of currentFertilizerList.list" [fertilizer]="ferilizer">

</app-ferilizer-detail-panel>
<div class="" *ngIf="currentList">
  result: N: {{currentList.result.N.nutrient}} P: {{currentList.result.P.nutrient}} K: {{currentList.result.K.nutrient}}
</div>
<button mat-button color="primary">Click me!</button>
<span matTooltip="Сосни залупу!" matTooltipPosition="before">I have a tooltip</span>
