/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';


body, html {
    max-height: 100vh;
    height: 100vh;
}

.layout {
    height: calc(100vh - 64px);
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.categories {
    width: 300px;
    max-width: 300px;
    width: 100%;
    overflow: auto;
}

.content {
    width: calc(100% - 315px);  
    overflow: auto;
}

mat-sidenav {
    width: 350px;
  }

.mat-tooltip {
    height: auto;
    white-space: pre;
}

.categories .ferilizer-card .mat-form-field-infix {
    width: 73px;
}

.categories .panel-select .mat-form-field-infix {
    width: 61px;
}
